*\.orig
*~
\.pc*
\.*swp
obj-*
cmake_install.cmake
CTestTestfile.cmake
/debian/*\.log
/html
build/
/curl*
/zlib*
/mingwlibs
/dist
# output
/src/libspringdownloader.pc
/src/pr-downloader
src/AddZip
src/BuildGit
src/MakeZip
src/Streamer
test/swig_test
test/libSpringLobby_test
*.a
*.so

# CMake
Makefile
CMakeCache.txt
CMakeFiles

#codeblocks project file
/pr-downloader.cbp

#ninja
/.ninja_deps
/.ninja_log
/build.ninja
/rules.ninja
#test files
/test/prd_test
/Testing
