Source: libspringdownloader
Priority: extra
Maintainer: Rene Milk <koshi@springlobby.info>
Build-Depends: debhelper (>= 7.0.50~), cmake, libcurl4-gnutls-dev | libcurl4-openssl-dev, zlib1g-dev
Standards-Version: 3.9.1
Section: libs
Homepage: https://github.com/abma/pr-downloader
Vcs-Git: git://github.com/abma/pr-downloader.git

Package: libspringdownloader-dev
Section: libdevel
Architecture: any
Depends: libspringdownloader0 (= ${binary:Version})
Description: development headers for libspringdownloader
 development headers for libspringdownloader

Package: libspringdownloader0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library and example binary libspringdownloader
 library and example binary libspringdownloader
