build-*
build
*~
.cproject
.project
*.suo
*.ncb
*.o
*.a
Makefile
*.diff
/doc/html/
/doc/Doxyfile
CMakeLists.txt.user*
*kate-swp
cmake_install.cmake
CMakeFiles/
/libSpringLobby.cbp
/libSpringLobby_config.h
*.swp
/lslextract/lslextract
/build.ninja
/rules.ninja
/.ninja_deps
/.ninja_log
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake

